<phpunit
        bootstrap="bootstrap.php"
        backupGlobals="true"
        backupStaticAttributes="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        verbose="true">
    <testsuites>
        <testsuite name="PHP API Client amoCRM">
            <directory>amoCRM</directory>
            <directory>HTTP</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type='coverage-html' target='output/report'/>
        <log type='coverage-clover' target='output/clover.xml'/>
    </logging>

    <filter>
        <whitelist>
            <directory>./../lib</directory>
        </whitelist>
    </filter>
</phpunit>
